.NavDash{
    background: #000000;
    height:80px;
    /* margin-top:-80px; */
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;

    @media screen and (max-width: 960px){
        transition: 0.8s all ease;
    }
}

.NavbarContainerDash{
    display:flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 0px;
    max-width: 80%;
}

.NavbarContainer1Dash{
    display: flex;
    justify-content: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    
}

.dashboard{
    color: #fff;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 1.5rem;
    display:flex-start;
    align-items: left;
    margin-left: 24px;
    margin-right: 24px;
    font-weight: bold;
    text-decoration: none;
}

.NavLogoDash{
    color: #fff;
    justify-self: flex;
    cursor: pointer;
    font-size: 1.5rem;
    display:flex;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    font-weight: bold;
    text-decoration: none;
}

.MobileIconDash{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    /* transform: translate(-100%, 60%); */
    font-size: 1.8rem;
    cursor: pointer;

}

.NavMenuDash {
    display: none;
}

@media (min-width: 768px) {
        .MobileIconDash {
            display: none;
        }

        .NavMenuDash{
            display: flex;
            align-items: center;
            list-style: none;
            text-align: center;
            margin-right: -22px;
        }
}

.NavItemDash{
    height: 80px;
}

.NavLinksDash{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}
    
.NavLinksDash.active{
        border-bottom: 3px solid #01bf71;
    }



.AddressNavDash{
    display: flex;
    align-items: center;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    @media screen and (max-width: 768px){
        display:none
    }
}


.NetworkNavDash{
    width: 20%;
    display: flex;
    align-items: center;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    @media screen and (max-width: 768px){
        display:none
    }
}


    .topbarDash {
        width: 100%;
        height: 50px;
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 999;
      }
      
      .topbarWrapperDash {
        height: 100%;
        padding: 0px 20px;
        display: flex;
        align-items: center;
       
      }

      
      .topRightDash{
          margin-left: 2pc;
      }
      
      
      
      .topbarIconContainerDash {
      
        cursor: pointer;
        margin-right: 0px;
        color: #555;
      }
      
      .topIconBadgeDash{
          width: 15px;
          height: 15px;
          position: absolute;
          top: -5px;
          right: 0px;
          background-color: red;
          color: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
      }
      
      .topAvatarDash{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          cursor: pointer;
      }
      
      .NavBtnCreateDash{
        display: block;
        align-items: center;
        margin-left: 30px;
        margin-right: 10px;
        
        @media screen and (max-width: 768px){
            display:none
        }
      }
      
      .NavBtnLinkCreateDash{
        border-radius: 50px;
        background-color: #c3742f;
        white-space: nowrap;
        padding: 10px 22px;
        color: white;
        font-size: 16px;
        outline: none;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
      }
      
      .NavBtnLinkCreateDash:hover{
            transition: all 0.2s ease-in-out;
            background: #fff;
            color: black;
        }