.container {
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 0 3px;
  height: 100%;
  width: fit-content;
  position: relative;
  z-index: 1;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  color: inherit;
}
.home {
  flex: 4;
}

.homeWidgets {
  display: flex;
  margin: 20px;
  width: auto;
}
